/* src/pages/Admin/Dashboard.css */
.dashboard-container {
    display: flex;
    width: 100%;
}

.dashboard-content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    padding: 0;
}

.card-container {
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align cards to the right */
    position: fixed;
    right: 0;
    top: 30px; /* Margin from top to bring down the cards */
    padding-top: 20px; /* Space from the top */
}

.custom-card {
    background-color: #f0f0f0; /* Light gray color */
    color: #333;
    width: 160px; /* Adjusted width of the card */
    height: 110px; /* Adjusted height of the card */
    margin-bottom: 15px; /* Space between cards */
    padding: 10px; /* Padding inside the card */
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text alignment */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

/* Optional: Add hover effect for shadow and scaling */
.custom-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4), 0 8px 25px rgba(0, 0, 0, 0.3); /* More prominent shadow on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}
/* src/pages/Admin/Dashboard.css */
.donut-chart-container {
    display: flex;
    justify-content: flex-end; /* Align charts to the right */
    margin-top: 20px; /* Space above the donut charts */
}

.donut-chart {
    margin: 0 20px; /* Spacing between donut charts */
}
