.dashboard-container {
    display: flex;
    margin-left: 250px; /* Shift content to the right to make room for the sidebar */
    padding: 20px;
}

.dashboard-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh; /* Ensure the content takes full height of the screen */
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
