/* Sidebar container */
.sidebar-container {
    position: relative;
    top: 0;
    left: 0;
    width: 260px; /* Default width to show only icons */
    height: 100vh;
    background-color: #3f4d67 !important; 
    padding: 0;
    border-right: 1px solid #ddd;
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
    transition: width 0.3s ease; /* Smooth width transition */
}

/* Sidebar Heading Styling */
.sidebar-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #3f4d67; /* Keep heading background violet */
    color: white; /* Heading text color is white */
    border-bottom: 1px solid #ccc;
   
    transition: opacity 0.3s ease; /* Smooth opacity transition */
}

/* Paddy Icon Styling */
.paddy-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px; /* Optional: add border radius */
}

/* Nav item padding */
.nav-item {
    padding: 10px;
}

/* Default style for nav-link */
.nav-link {
    font-size: 1.1rem;
    color: #a9b7d0; /* Default text color is violet */
    display: flex;
    align-items: center;
    padding: 10px 15px;
    white-space: nowrap; /* Prevent text wrapping */
}

/* Sidebar icon styling */
.sidebar-icon {
    color: #a9b7d0; /* Default icon color is violet */
    margin-right: 10px;
    font-size: 1.3rem;
}

/* On hover: change background color and text color */
.nav-link:hover {
    color: #1dc4e9; 
}

/* Active link styling */
.nav-link.active {
    color: #1dc4e9; /* Active link text color is black */
}

/* Active icon color */
.nav-link.active .sidebar-icon {
    color: #1dc4e9; /* Keep active icon color violet */
}
